body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* HEADER*/
header{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(97, 142, 80);
}
header div{
    margin: 5px;
}
.logo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.logo > a {
    text-decoration: none;
    color: rgb(227, 247, 219);
}


/*For å lage den, så på denne siden https://dev.to/atulcodex/dropdown-menu-using-css-flexbox-28j8*/
/* NAVIGASJON PÅ SIDEN*/
nav {
    display: flex;
    justify-content: end;
    position: relative; 
    z-index: 100;
} /*hadde problem med et bilde: https://www.sitepoint.com/community/t/css-dropdown-disappears-when-displayed-over-image/22558/2*/

nav a:hover { 
    background-color: rgb(162,195,150);
}

nav > div{
    text-align: center;
    width: 100px fit-content; 
    height: 30px;
    margin: 10px; 
    margin-top: 15px;
    font-size: 18px;
    
}

nav div li {
    list-style: none;
    padding: 6px;
    position:relative;
    transition: 0.5s;
    display: block;
    text-align: left;
  }
nav div a {
    color: rgb(227, 247, 219);
    text-decoration: none;
    padding: 5px 10px;
}
nav div ul li a:hover {
  background-color: rgb(97, 142, 80);
}
nav div ul {
  display: none;
}
nav div:hover ul
{
  display: block;
  position: absolute;
  margin-top: 5px;
  background-color: rgb(162,195,150);
  width:fit-content;
  padding: 10px 2px;
  box-shadow: 0px 10px 50px 0px rgba(46, 79, 34, 0.3) /*rgba(0, 0, 0, 0.5)*/;
}


/* ENDRE UTFORMING PÅ SKJERM */
@media  screen and (max-width: 950px) {
    header{ display: grid;
     grid-template-columns: 100%;}

     nav{display: grid;
    grid-template-columns: 50% 50% ;}

    nav > div{
        
        width: 80px fit-content; 
        height: 30px;
        margin: 10px; 
        margin-top: 15px;
        font-size: 18px;
    }
      
    }
@media  screen and (max-width: 450px) {
    header{ display: grid;
     grid-template-columns: 100%;} 
     nav{display: grid;
        grid-template-columns: 50% 50% ;}    
    }  